.user-table{
    grid-row: 2 / span 11;
    grid-column: 1 / span 5;
    background-color: rgb(33,37,41);
}

.table-info-container{
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.total-users{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    font-style: italic;
}

.dropdown{
    margin: 0% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    font-size: 0.9rem;
    font-style: italic;
    background-color: rgb(33,37,41);
    padding: 5% 20%;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu{
    background-color: rgba(33, 37, 41, 0.5);
    border: none;
    border-radius: 5%;
    margin: 0;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-item{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}